.header {
    transition: all 0.5s;
    z-index: 997;
    height: 60px;
    box-shadow: 0px 1px 2px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    padding-left: 20px;
}

.logo_title {
    width: 40vh;
}

.logo {
    line-height: 1;
}

@media (max-width: 1200px) {
    .logo {
        width: 250px;
    }
}

.logo img {
    max-height: 26px;
    margin-right: 6px;
}

.logo span {
    font-size: 26px;
    font-weight: 700;
    color: var(--blue-color);
    font-family: "Nunito", sans-serif;
}

.toggle_sidebar_btn {
    font-size: 32px;
    margin-left: 50px;
    cursor: pointer;
    color: var(--blue-color);
}

.header_nav {
    margin-left: auto;
}

.header_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav_profile {
    display: flex;
    align-items: center;
    color: #333;
    font-weight: 500;
}

.nav_profile img {
    border-radius: 50%;
    max-height: 36px;
}